{% extends "base.html.twig" %}
    {% block title %}Gestion Administrateur{% endblock %}

{% block body %}


<body class="customer-account-index customer-account admin-account inner-page">
<div id="page">
    {% include'components/nav.html.twig' %}

    <!-- Main Container -->
    <section class="main-container col1-layout bounceInUp animated">
        <div class="main container">
            <!-- <div class="account-login"> -->
            <div class="admin-account">
                <div class="page-title">
                    <h1>GESTION ADMINISTRATEUR</h1>

                </div>
                <fieldset class="col2-set">

                    <legend>Nouvel Article</legend>
                    {{ form(form) }}

                </fieldset>
            <br>
            <br>

            <div class ="buttons-set">
                <button class="button create-account" href="https://dashboard.stripe.com/test/payments?status%5B%5D=successful" title="liste commandes" target="_blank"><span>Afficher la liste des commandes</span></button>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
</div>
</section>
<!-- Main Container End -->
{% endblock %}