<footer>

    <div class="container">
{#        <div class="col-sm-12 col-xs-12 footer-logo"><img alt="Datson" src="images/logo.png"></div>#}
    <address>
        <i class="fa fa-map-marker"></i>Andrhome, hidden warehouse address to keep the mystery <i class="fa fa-mobile"></i><span> +(33) 1 44 77 88 99</span> <i class="fa fa-envelope"></i><span> contact@andrhome.com</span>
    </address>
    </div>
    </div>

</footer>
